<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm</title>
</head>
<body>
    <div>
        <table>
            {% for p in products %}
            <tr>
                <td>
                    <img src="{{ p.images }}" alt="{{}}" />
                </td>
                <td>
                    <h1>{{ p.name }}</h1>
                </td>
                <td>
                    <p>{{ p.description }}</p>
                </td>
                <td>
                    <p>{{ p.price }} VNĐ</p>
                </td>
                <td>
                    <p>{{ p.category_id }}</p>
                </td>
                <td>
                    <a href="#">Cập nhật</a> |
                    <a href="#">Xóa</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>